<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "vehicle/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Hello Rider</h1>
    <p class="lead">A genuine solution to vehicle problems</p>
    <hr class="my-4">
    {% comment %} <p>Explore our Website.</p> {% endcomment %}
    {% comment %} <p>Our Story</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus orci justo, nec ultrices velit rhoncus sit amet. In hac habitasse platea dictumst. Mauris at felis aliquet, aliquam justo vitae, viverra mi. Nullam pellentesque sollicitudin nunc et lobortis. Sed nec nulla risus. Cras ultrices, est non efficitur molestie, justo urna convallis odio, vel congue dolor sem nec elit. Sed luctus iaculis malesuada.</p>
         {% endcomment %}
        <p class="lead" style="font-size: 30px; font-weight: 400;">Our Mission</p>
        <p>The goal of the Mechanics Mitra project is to
          automate the current manual system involved in servicing a
          vehicle to a fully-fledged computer softwarebased system for
          their requirements, so that their valuable data and information
          is stored for longer periods of time in a systematised manner so
          that they could be used whenever there are such requirements of
          that information, and it eliminates the burden on the customer
          to search for mechanics whenever he or she requires m Both
          customers and mechanics profit from this platform.</p>
        
        {% comment %} <p class="lead" style="font-size: 30px; font-weight: 400;">Our Team</p>
        <ul>
            <li>Mobasshir Imam</li>
            <li>Mohit Yadav</li>
            <li>Anshuman Singh</li>
        </ul> {% endcomment %}
        <br>
        <br>
        <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% comment %} <marquee behavior="scroll" direction="left">
   <img src="{% static "images/ferrari.png" %}" width="120" height="80" alt="ferrari" />
    <img src="{% static "images/ford.png" %}" width="120" height="80" alt="ford" />
   <img src="{% static "images/lambo.png" %}" width="120" height="80" alt="lambo" />
   <img src="{% static "images/mahindra.png" %}" width="120" height="80" alt="mahindra" />
   <img src="{% static "images/tvs.png" %}" width="120" height="80" alt="tvs" />
   <img src="{% static "images/tata.png" %}" width="120" height="80" alt="tata" />
   <img src="{% static "images/hero.png" %}" width="120" height="80" alt="hero" />
   <img src="{% static "images/rolls.png" %}" width="120" height="80" alt="rolls" />
   <img src="{% static "images/suzuki.png" %}" width="120" height="80" alt="suzuki" />
 </marquee> {% endcomment %}
  {% include "vehicle/footer.html" %}
</body>

</html>
